header {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  margin: 50px;
}

.menu {
  display: flex;
  gap: 20px;
}

.quote {
  margin: 50px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: rgb(21, 55, 120);
}

.calculator {
  display: flex;
  justify-content: space-around;
}

.calculator-box {
  border: 1px solid black;
  height: 500px;
  width: 500px;
}
